<div class="footer" [class.footer-visible]="showFooter || alwaysVisible" id="app-footer">
  <footer>
    <div class="footer-content">
      <div class="footer-text">
      <!--  <span class="footer-entity">Municipalidad Distrital de San Juan de Lurigancho</span>
        <span class="footer-divider">|</span>-->
        <span class="footer-system">Portal de Información v{{version}}</span>
        <span class="footer-divider">|</span>
        <span class="footer-year">© {{year}}</span>
        <span class="footer-system"> Todos los derechos reservados</span>

      </div>
    </div>
  </footer>
</div>

