<div class="inicio-container">
  <video class="background-video" autoplay loop playsinline muted>
    <source src="assets/VIDEO_INICIO.mp4" type="video/mp4">
    Tu navegador no soporta la reproducción de video. Por favor, actualiza tu navegador.
  </video>

  <div class="title">
    <h1>GeoPortal San Juan de Lurigancho</h1>
    <p>Sistema de Información Geográfica para el Distrito de San Juan de Lurigancho</p>
  </div>
  <div class="categorias-container">
    <div class="categorias-content">
      <h3 class="categorias-title">Categorías de Ubicaciones</h3>
      <div class="categorias-buttons">
      

        <button *ngFor="let layer of geojsonLayers"
                mat-raised-button
                color="warn"
                class="categoria-button categoria-button-geojson"
                (click)="irAPruebaGeoJSONConCapa(layer.id)">
          <img [src]="layer.icon" [alt]="layer.name" class="layer-icon-small">
          <span>{{ layer.name }}</span>
        </button>
      </div>
    </div>
  </div>
</div>
<app-footer [alwaysVisible]="true"></app-footer>

