/* You can add global styles to this file, and also import other style files */

/* Estilos globales de OpenLayers */
@import "ol/ol.css";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevenir scroll horizontal */
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
}
